In [9]:
pip install textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.

  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: nltk>=3.8 in c:\users\adogh\anaconda3\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\adogh\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\adogh\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\adogh\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\adogh\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\adogh\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
   - ------------------------------------- 30.7/626.3 kB 217.9 kB/s eta 0:00:03
   - ------------------------------------- 30.7/626.3 kB 217.9 kB/s eta 0:00:03
   - ------------------------------------- 30.7/626.3 kB 217.9 kB/s eta 0:00:03
   -- ------------------------------------ 41.0/626.3 kB 122.9 kB/s eta 0:00:05
   -- ------------------------------------ 41.0/626.3 kB 122.9 kB/s eta 0:00:05
   -- ------------------------------------ 41.0/626.3 kB 122.9 kB/s eta 0:00:05
   -- ------------------------------------ 41.0/626.3 kB 122.9 kB/s eta 0:00:05
   -- ------------------------------------ 41.0/626.3 kB 122.9 kB/s eta 0:00:05
   -- ------------------------------------ 41.0/626.3 kB 122.9 kB/s eta 0:00:05
   ------ ------------------------------- 112.6/626.3 kB 187.2 kB/s eta 0:00:03
   ------ ------------------------------- 112.6/626.3 kB 187.2 kB/s eta 0:00:03
   -------- ----------------------------- 143.4/626.3 kB 213.0 kB/s eta 0:00:03
   --------- ---------------------------- 163.8/626.3 kB 223.3 kB/s eta 0:00:03
   ---------- --------------------------- 174.1/626.3 kB 227.9 kB/s eta 0:00:02
   ----------- -------------------------- 194.6/626.3 kB 240.6 kB/s eta 0:00:02
   ------------ ------------------------- 204.8/626.3 kB 235.0 kB/s eta 0:00:02
   ------------- ------------------------ 225.3/626.3 kB 250.0 kB/s eta 0:00:02
   --------------- ---------------------- 256.0/626.3 kB 266.6 kB/s eta 0:00:02
   ---------------- --------------------- 276.5/626.3 kB 279.4 kB/s eta 0:00:02
   ---------------- --------------------- 276.5/626.3 kB 279.4 kB/s eta 0:00:02
   ---------------- --------------------- 276.5/626.3 kB 279.4 kB/s eta 0:00:02
   ---------------- --------------------- 276.5/626.3 kB 279.4 kB/s eta 0:00:02
   ---------------- --------------------- 276.5/626.3 kB 279.4 kB/s eta 0:00:02
   ------------------- ------------------ 327.7/626.3 kB 267.2 kB/s eta 0:00:02
   ------------------- ------------------ 327.7/626.3 kB 267.2 kB/s eta 0:00:02
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 279.8 kB/s eta 0:00:01
   ----------------------------- -------- 491.5/626.3 kB 287.8 kB/s eta 0:00:01
   ----------------------------- -------- 491.5/626.3 kB 287.8 kB/s eta 0:00:01
   -------------------------------- ----- 532.5/626.3 kB 298.4 kB/s eta 0:00:01
   ---------------------------------- --- 573.4/626.3 kB 310.6 kB/s eta 0:00:01
   ---------------------------------- --- 573.4/626.3 kB 310.6 kB/s eta 0:00:01
   ------------------------------------ - 604.2/626.3 kB 311.6 kB/s eta 0:00:01
   -------------------------------------  624.6/626.3 kB 314.6 kB/s eta 0:00:01
   -------------------------------------- 626.3/626.3 kB 315.5 kB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.18.0.post0

In [11]:
from textblob import TextBlob

In [12]:
import numpy as np
import pandas as pd
from os import path

In [14]:
df = pd.read_csv("C:/Users/adogh/Documents/Learning/Forage/British Airways Data Science/Task 1/BA_reviews-CLEANED.csv", index_col=0)

In [15]:
df.head()

         reviews                                         Unnamed: 2
0   Not Verified  I reported my damagedruined suitcase 5 weeks a...
1   Not Verified  On March 1st I flew from Berlin to So Paulo wi...
2   Not Verified  The WORST customer experience British Airways ...
3   Not Verified  Had to cancel my flight months in advance due ...
4  Trip Verified  Flight cancelled with no reason given less tha...

In [16]:
df['Unnamed: 2'] = df['Unnamed: 2'].str.strip()

In [17]:
df.head()

         reviews                                         Unnamed: 2
0   Not Verified  I reported my damagedruined suitcase 5 weeks a...
1   Not Verified  On March 1st I flew from Berlin to So Paulo wi...
2   Not Verified  The WORST customer experience British Airways ...
3   Not Verified  Had to cancel my flight months in advance due ...
4  Trip Verified  Flight cancelled with no reason given less tha...

In [18]:
df['Unnamed: 2'] = df['Unnamed: 2'].astype(str)

In [19]:
def get_sentiment(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

In [21]:
df['sentiment'] = df['Unnamed: 2'].apply(get_sentiment)

print(df.head())

         reviews                                         Unnamed: 2  sentiment
0   Not Verified  I reported my damagedruined suitcase 5 weeks a...  -0.342857
1   Not Verified  On March 1st I flew from Berlin to So Paulo wi...   0.028333
2   Not Verified  The WORST customer experience British Airways ...   0.009028
3   Not Verified  Had to cancel my flight months in advance due ...   0.112500
4  Trip Verified  Flight cancelled with no reason given less tha...  -0.424074

In [22]:
df.to_csv('sentiment_analysis_results.csv', index=False)

print("Sentiment analysis results exported successfully!")

Sentiment analysis results exported successfully!